# Ignorar arquivos temporários do Python
__pycache__/
*.pyc

# Ignorar banco de dados local para não subir dados reais de usuários no repositório público
usuarios.xlsx

# Ignorar testes
test_app.py
.pytest_cache/
